root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4

[*.js]
ij_javascript_spaces_within_brackets = true
ij_javascript_spaces_within_interpolation_expressions = true
ij_javascript_spaces_within_object_literal_braces = true

[*.vue]
ij_vue_spaces_within_interpolation_expressions = true
